.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: relative;
}
.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
}